<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="targetBean"
		class="com.edureka.spring.intro.model.TargetClass">
	</bean>
	<bean id="clientBean"
		class="com.edureka.spring.intro.model.ClientClass">
		<property name="targetName"><idref bean="targetBean"/> </property>
	</bean>
</beans>
