<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="student" class="com.edureka.spring.intro.model.Student">
		<property name="name" value="Saumen"></property>
		<property name="id" value="1403"></property>
		<property name="hostel">
			<bean id="hostel" class="com.edureka.spring.intro.model.Hostel">
				<property name="city" value="Kolkata"></property>
				<property name="hostelName" value="CEMK"></property>
			</bean>
		</property>
	</bean>
</beans>
