<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="car" class="com.edureka.spring.intro.model.Car">
		<property name="makeYear" value="2020"></property>
		<property name="name" value="Wagnor"></property>
	</bean>
	<bean id="user" class="com.edureka.spring.intro.model.User">
		<property name="car" ref="car"></property>
	</bean>
</beans>
