<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="sampleBean"
	class="com.edureka.spring.intro.model.SampleBean">
	</bean>
	<bean id="aroundAdvisor"
		class="com.edureka.spring.intro.model.AroundAdvisor">
	</bean>
	<bean id="proxy"
		class="org.springframework.aop.framework.ProxyFactoryBean">
	<property name="target" ref="sampleBean"></property>
	<property name="interceptorNames">
	<list>
		<value>aroundAdvisor</value>
	</list>
	</property>
	</bean>
</beans>
