<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:annotation-config></context:annotation-config>

	<bean id="data" class="com.edureka.spring.intro.model.Data">
		<property name="a" value="2"></property>
		<property name="b" value="5"></property>
	</bean>
	<bean id="useSpEL"
		class="com.edureka.spring.intro.model.UsingSpEL">
		<property name="eqaulChk" value="#{data.a eq data.b}"></property>
		<property name="concat"
			value="#{'Welcome' +'to' + 'Edureka' +'!!!'}"></property>
		<property name="exponent" value="#{data.a ^ data.b}"></property>
	</bean>

</beans>
