<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="student" class="com.edureka.spring.intro.model.Student">
		<property name="id" value="1403"></property>
		<property name="name" value="SaumenD"></property>
		<property name="hostel" value="#{hostel}"></property>
		<property name="currentCity" value="#{hostel.city}"></property>
	</bean>
	<bean id="hostel" class="com.edureka.spring.intro.model.Hostel">
		<property name="hostelName" value="CEMKHostel"></property>
		<property name="city" value="Kolkaghat"></property>
	</bean>

</beans>
