<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<context:annotation-config></context:annotation-config>
	<bean id="student" class="com.edureka.spring.intro.model.Student">
		<property name="id" value="1403"></property>
		<property name="name" value="SaumenD"></property>
	</bean>
	<bean id="hostel1" class="com.edureka.spring.intro.model.Hostel">
		<property name="hostelName" value="CEMKHostel"></property>
		<property name="city" value="Kolkaghat"></property>
	</bean>
	<bean id="hostel2" class="com.edureka.spring.intro.model.Hostel">
		<property name="hostelName" value="CEMKFieldHostel"></property>
		<property name="city" value="Kolkaghat"></property>
	</bean>
</beans>
