<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="student" class="com.edureka.spring.intro.model.Student"
		autowire="constructor">

	<constructor-arg value="SaumenDas"></constructor-arg>
	<constructor-arg value="1403"></constructor-arg>
	</bean>
	<bean id="hostel" class="com.edureka.spring.intro.model.Hostel">
		<property name="hostelName" value="CEMK"></property>
		<property name="city" value="Kolkaghat"></property>
	</bean>
</beans>
